In [2]:
import pandas as pd

products_dirty = pd.read_excel ('datasets/supermarket_products_dirty.xlsx')

products_dirty

              Product       Category Unit Cost of Goods
0              coffee      beverages              200.0
1              loaves         bakery             2000.0
2                buns         bakery             1500.0
3                beef           meat             5000.0
4        paper towels    toileteries             1500.0
5              apples         fruits              900.0
6           dish soap     detergents             2300.0
7             tilapia           meat             3500.0
8             chicken           meat             5500.0
9            cupcakes         bakery              500.0
10            ketchup    canned food             1500.0
11            cookies            NaN              500.0
12              beans    canned food              800.0
13            tilapia           meat             3500.0
14               soda      beverages             1000.0
15                tea      beverages              300.0
16               pork           meat             4000.0
17            bananas         fruits               1s00
18            oranges         fruits              800.0
19  laundry detergent      detergent             3000.0
20        all purpose     detergents             2700.0
21       toilet paper     toleteries             1700.0
22            shampoo  personal care             3000.0
23                NaN  personal care             2300.0
24      shaving cream  personal care             2400.0

In [4]:
products_clean = products_dirty.fillna('unknown')

products_clean

              Product       Category Unit Cost of Goods
0              coffee      beverages              200.0
1              loaves         bakery             2000.0
2                buns         bakery             1500.0
3                beef           meat             5000.0
4        paper towels    toileteries             1500.0
5              apples         fruits              900.0
6           dish soap     detergents             2300.0
7             tilapia           meat             3500.0
8             chicken           meat             5500.0
9            cupcakes         bakery              500.0
10            ketchup    canned food             1500.0
11            cookies        unknown              500.0
12              beans    canned food              800.0
13            tilapia           meat             3500.0
14               soda      beverages             1000.0
15                tea      beverages              300.0
16               pork           meat             4000.0
17            bananas         fruits               1s00
18            oranges         fruits              800.0
19  laundry detergent      detergent             3000.0
20        all purpose     detergents             2700.0
21       toilet paper     toleteries             1700.0
22            shampoo  personal care             3000.0
23            unknown  personal care             2300.0
24      shaving cream  personal care             2400.0

In [5]:
products_clean = products_dirty.dropna()
products_clean

              Product       Category Unit Cost of Goods
0              coffee      beverages              200.0
1              loaves         bakery             2000.0
2                buns         bakery             1500.0
3                beef           meat             5000.0
4        paper towels    toileteries             1500.0
5              apples         fruits              900.0
6           dish soap     detergents             2300.0
7             tilapia           meat             3500.0
8             chicken           meat             5500.0
9            cupcakes         bakery              500.0
10            ketchup    canned food             1500.0
12              beans    canned food              800.0
13            tilapia           meat             3500.0
14               soda      beverages             1000.0
15                tea      beverages              300.0
16               pork           meat             4000.0
17            bananas         fruits               1s00
18            oranges         fruits              800.0
19  laundry detergent      detergent             3000.0
20        all purpose     detergents             2700.0
21       toilet paper     toleteries             1700.0
22            shampoo  personal care             3000.0
24      shaving cream  personal care             2400.0

In [6]:
products_clean = products_dirty.drop_duplicates()
products_clean

              Product       Category Unit Cost of Goods
0              coffee      beverages              200.0
1              loaves         bakery             2000.0
2                buns         bakery             1500.0
3                beef           meat             5000.0
4        paper towels    toileteries             1500.0
5              apples         fruits              900.0
6           dish soap     detergents             2300.0
7             tilapia           meat             3500.0
8             chicken           meat             5500.0
9            cupcakes         bakery              500.0
10            ketchup    canned food             1500.0
11            cookies            NaN              500.0
12              beans    canned food              800.0
14               soda      beverages             1000.0
15                tea      beverages              300.0
16               pork           meat             4000.0
17            bananas         fruits               1s00
18            oranges         fruits              800.0
19  laundry detergent      detergent             3000.0
20        all purpose     detergents             2700.0
21       toilet paper     toleteries             1700.0
22            shampoo  personal care             3000.0
23                NaN  personal care             2300.0
24      shaving cream  personal care             2400.0

In [16]:
Categories = products_dirty.Category.dropna().unique()
sorted(Categories)

['bakery',
 'beverages',
 'canned food',
 'detergent',
 'detergents',
 'fruits',
 'meat',
 'personal care',
 'toileteries',
 'toleteries']

In [15]:
products_dirty.groupby('Category').Product.count()

Category
bakery           3
beverages        3
canned food      2
detergent        1
detergents       2
fruits           3
meat             5
personal care    2
toileteries      1
toleteries       1
Name: Product, dtype: int64

In [18]:
products_dirty.query("Category=='detergent'")

              Product   Category Unit Cost of Goods
19  laundry detergent  detergent             3000.0

In [21]:
products_clean = products_dirty.copy(deep=True)

products_clean.update(pd.Series(['detergents'], name='Category', index=[19]))

products_clean

              Product       Category Unit Cost of Goods
0              coffee      beverages              200.0
1              loaves         bakery             2000.0
2                buns         bakery             1500.0
3                beef           meat             5000.0
4        paper towels    toileteries             1500.0
5              apples         fruits              900.0
6           dish soap     detergents             2300.0
7             tilapia           meat             3500.0
8             chicken           meat             5500.0
9            cupcakes         bakery              500.0
10            ketchup    canned food             1500.0
11            cookies            NaN              500.0
12              beans    canned food              800.0
13            tilapia           meat             3500.0
14               soda      beverages             1000.0
15                tea      beverages              300.0
16               pork           meat             4000.0
17            bananas         fruits               1s00
18            oranges         fruits              800.0
19  laundry detergent     detergents             3000.0
20        all purpose     detergents             2700.0
21       toilet paper     toleteries             1700.0
22            shampoo  personal care             3000.0
23                NaN  personal care             2300.0
24      shaving cream  personal care             2400.0

In [22]:
products_dirty.query("Category=='toleteries'")

         Product    Category Unit Cost of Goods
21  toilet paper  toleteries             1700.0

In [30]:
products_clean = products_dirty.copy(deep=True)

products_clean.update(pd.Series(['toileteries'], name='Category', index=[21]))

products_clean

              Product       Category Unit Cost of Goods
0              coffee      beverages              200.0
1              loaves         bakery             2000.0
2                buns         bakery             1500.0
3                beef           meat             5000.0
4        paper towels    toileteries             1500.0
5              apples         fruits              900.0
6           dish soap     detergents             2300.0
7             tilapia           meat             3500.0
8             chicken           meat             5500.0
9            cupcakes         bakery              500.0
10            ketchup    canned food             1500.0
11            cookies            NaN              500.0
12              beans    canned food              800.0
13            tilapia           meat             3500.0
14               soda      beverages             1000.0
15                tea      beverages              300.0
16               pork           meat             4000.0
17            bananas         fruits               1s00
18            oranges         fruits              800.0
19  laundry detergent      detergent             3000.0
20        all purpose     detergents             2700.0
21       toilet paper    toileteries             1700.0
22            shampoo  personal care             3000.0
23                NaN  personal care             2300.0
24      shaving cream  personal care             2400.0

In [34]:
products_correct = products_dirty.copy(deep=True)
products_correct.update(pd.DataFrame({'Unit Cost of Goods':1500}, index=[17]))

products_correct

              Product       Category Unit Cost of Goods
0              coffee      beverages              200.0
1              loaves         bakery             2000.0
2                buns         bakery             1500.0
3                beef           meat             5000.0
4        paper towels    toileteries             1500.0
5              apples         fruits              900.0
6           dish soap     detergents             2300.0
7             tilapia           meat             3500.0
8             chicken           meat             5500.0
9            cupcakes         bakery              500.0
10            ketchup    canned food             1500.0
11            cookies            NaN              500.0
12              beans    canned food              800.0
13            tilapia           meat             3500.0
14               soda      beverages             1000.0
15                tea      beverages              300.0
16               pork           meat             4000.0
17            bananas         fruits             1500.0
18            oranges         fruits              800.0
19  laundry detergent      detergent             3000.0
20        all purpose     detergents             2700.0
21       toilet paper     toleteries             1700.0
22            shampoo  personal care             3000.0
23                NaN  personal care             2300.0
24      shaving cream  personal care             2400.0